/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
#app {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 60px;
    background-color: #f8f9fa; 
}

.navbar ul {
    list-style: none;
}

.navbar .left,
.navbar .right {
    display: flex;
}

.navbar .left-items, 
.navbar .right-items {
    cursor: pointer;
}

.navbar .left-icon {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .left-icon {
    font-size: 42px;
}

.navbar .right-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar .right-items span {
    margin-right: 8px;
}

.navbar .right-items.search {
    font-size: 20px;
    margin-left: 2px;
}

.navbar .menu-items {
    position: relative;
}

.navbar .menu-content {
    content: "";
    width: calc(3500% + 30px);
    position: absolute;
    top: 106%;
    left: -30px;
}
.menu-content {
    display: flex;
    width: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
    border: 1px solid #ddd;
}

/* Left-side Menu */
#menu-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #000;
}

/* Menu Items */
#menu-list li {
    padding: 28px 30px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}


/* Right-side Content */
.list-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    background-color: white;
}

.list-box {
    width: calc(15% - 10px); 
    height: calc(40% + 15px);
    background-color: #e0e0e0;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.list-box:hover {
    transform: scale(1.05);
}

.popup-menu

/* Box Title */
.box-title {
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.box-content {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.select {
    background-color: #bababa;
}

.partner {
    position: relative;
}

.partner-menu {
    position: absolute;
    width: calc(100% + 80px);
    top: calc(100% + 26px);
    left: 0;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.partner-menu li {
    padding: 12px 20px;
}

.partner-menu li:hover{
    background-color: #bababa;
}



@keyframes popup {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-menu {
    animation: popup 0.2s ease-out;
    z-index: 999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.slide {
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slide-img {
    height: 600px;
    width: 100%;
    object-fit: contain;
    display: none; 
    justify-content: center;
    align-items: center;

}

.slide-img img {
    width: 100%;
    height: 100%;
}

.slide-img.active {
    display: flex;
}

.banner {
    height: 72px;
    padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);   
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.banner-1 {
    background-color: #002e27;
}
.banner-2 {
    background-color: #00b14f;
}



.content {
    width: 1164px;
    margin-left: auto;    
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 32px;
}




.service-home {
    display: flex;
    align-items: center;
    padding: 64px 0;
}

.service-home .service-type {
    padding: 12px 32px;
    color: #697078;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
}

.service-type.section {
    background-color: #001e1f;
    color: #fff;
}


.option-service {
    width: 50%;
}

.border_bottom {
    border-bottom: 1px solid #00000055;
}

.option-box {
    display: flex;
}

.option-title {
    width: 50%;
    font-size: 32px;
    padding: 32px 0;
}

.service-box {
    display: flex;
    align-items: center;
    padding: 32px 0px;
}

.service-img svg {
    height: 70px;
    width: 70px;
}

.service-content {
    margin-left: 48px;
}

.service-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.service-des {
    font-weight: 600;
    line-height: 26px;
    font-size: 18px;
    color: #383e43;
}

.option-service .service-box:last-child {
    border-bottom: none;
}
